<ul>
    <li>Docs
      <ul>
        <li><a href="/docs/how-does-it-work">How it works</a><ul>
          <li><a href="/docs/common-fields">Common fields</a></li>
          <li><a href="/docs/how-to-extend-schemas">Extending schemas</a></li>
          <li><a href="/docs/browser-integration">Browser integration</a></li>
        </ul></li>
        <li><a href="/docs/dat-primer">Dat protocol</a><ul>
          <li><a href="/docs/mounts">Mounts</a></li>
        </ul></li>
        <li><a href="/docs/why-not-rdf">Why not RDF?</a></li>
      </ul>
    </li>
  </ul>
<ul>
  <li>APIs
    <ul>
      <li>Social<ul>
        <li><a href="/docs/api/follows">Follows</a></li>
        <li><a href="/docs/api/profiles">Profiles</a></li>
      </ul></li>
      <li>Content<ul>
        <li><a href="/docs/api/discussions">Discussions</a></li>
        <li><a href="/docs/api/media">Media</a></li>
        <li><a href="/docs/api/posts">Posts</a></li>
      </ul></li>
      <li>Collections<ul>
        <li><a href="/docs/api/bookmarks">Bookmarks</a></li>
        <li><a href="/docs/api/sitelists">Sitelists</a></li>
      </ul></li>
      <li>Annotations<ul>
        <li><a href="/docs/api/comments">Comments</a></li>
        <li><a href="/docs/api/reactions">Reactions</a></li>
        <li><a href="/docs/api/votes">Votes</a></li>
      </ul></li>
    </ul>
  </li>
</ul>
<ul>
  <li>Schemas
    <ul>
      <li><a href="/bookmark">Bookmark</a></li>
      <li><a href="/comment">Comment</a></li>
      <li><a href="/discussion">Discussion</a></li>
      <li><a href="/follows">Follows</a></li>
      <li><a href="/media">Media</a></li>
      <li><a href="/person">Person</a></li>
      <li><a href="/post">Post</a></li>
      <li><a href="/reaction">Reaction</a></li>
      <li><a href="/sitelist">Sitelist</a></li>
      <li><a href="/vote">Vote</a></li>
      <li>dir<ul>
        <li><a href="/dir/data">Data</a></li>
        <li><a href="/dir/refs">Refs</a></li>
      </ul></li>
    </ul>
  </li>
</ul>
<ul>
  <li>Links
    <ul>
      <li><a href="https://github.com/beakerbrowser/unwalled.garden">Github Repo</a></li>
      <li><a href="https://beakerbrowser.com">Beaker Browser</a></li>
      <li><a href="https://dat.foundation">Dat protocol</a></li>
    </ul>
  </li>
</ul>